.outer-card {
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.09);
    border-radius: 6px;
    position: relative;
  }

  .inner-card {
      margin: 5px 0;
      cursor: pointer;
  }

  .cdk-drag-animating {
    transition: transform 300ms ease;
  }

  .tasks.cdk-drop-list-dragging .cdk-drag {
    transition: transform 300ms ease;
  }

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue { background: #71deff; color: white; }
.green { background: #36e9b6; color: white;  }
.yellow { background: #ffcf44; color: white; }
.purple { background: #b15cff; color: white; }
.red { background: #e74a4a; color: white; }

.gray { background: gray; text-decoration: line-through; opacity: 0.5; }
